<!DOCTYPE html>
<html>
<head>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />

<script src ="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="module" >


import model from "/assets/Model.js"
import viewModel from "/assets/ViewModel.js"


window.init =async function(){
	
	
	const movie=''
	const userid=''
	const toplist =''
	const theModel = model(movie, toplist)
	const vm = viewModel(document.getElementById('base'), theModel)
	const app = new Vue(vm)
	
	//{{maybe}}
}



</script>
</head>
<body onload = "init()">
	<div id="base">

 
  
  
  <div id="loginHide">
	
 <div id="headerNav"> <a href="#home">Home</a><a href="#profilepage" @click='topList1()'>Profile Page</a></div>
  
</div>

	
<button @click='loginGoogle()'>Google Login</button>
		<button @click='logout()'>Logout</button>
	
  
  	  

  
  <div class="content" id="loginHide">


    <section id="home" > 
      

      <div id="searchFieldDiv">
			<input id="searchField" v-model:value='movieTitle' type="search"><button @click='search()'>Search</button>
		</div>
<div id="MovieData" class="parent">
		<div id='Title' class="child child-1">
		<label>Title</label><br>
		<textarea v-model:value = 'movie.Title' id='normal' style="readonly"disabled></textarea>	
		</div>
		<div id='rel' class="child child-2">
		<label>Release</label><br>
		<textarea v-model:value = 'movie.Released' id='normal' style="readonly" disabled></textarea>
		</div>
		<div id='rel' class="child child-3">
		<label>Genre</label><br>
		<textarea v-model:value = 'movie.Genre' id='normal' style="readonly"disabled></textarea>
		</div>
		<div id='rel' class="child child-4">
		<label>Director</label><br>
		<textarea v-model:value = 'movie.Director' id='normal' style="readonly"disabled></textarea>
		</div>
		<div id='rel' class="child child-5">
		<label>Imd Rating</label><br>
		<textarea v-model:value = 'movie.imdbRating' id='normal' style="readonly"disabled></textarea>
		</div>
		<div id='rel' class="child child-6">
			<label>Votes</label><br>
		<textarea v-model:value = 'movie.imdbVotes' id='normal' style="readonly"disabled></textarea>
		</div>	
		<div id='rel' class="child child-7">
			<label>Actors</label><br>
		<textarea v-model:value = 'movie.Actors' id='normal' style="readonly"disabled></textarea>
		</div>
		<div id='rel' class="child child-8">
			<label>Plot</label><br>
		<textarea v-model:value = 'movie.Plot' id='normal' style="height:150px;" disabled></textarea>
		</div>
		<div id='rel' class="child child-9">
				<img id='poster'v-bind:src='movie.Poster'>
		</div>

		</div>
		<div id="FavRadio" style="float: right;">
		<input v-model:value = "list" type="radio" id="top1" value="1">
		<label for="top1">Top 1</label>
		<input v-model:value = "list" type="radio" id="top2" value="2">
		<label for="top2">Top 2</label>
		</div>
		<button id='addToFav' @click='addToFavourite()' style="float: right;">Add to Favorites</button>
		 

    </section>

    <section id="profilepage">
      <h2>Profile Page</h2>
	  <button @click='writeToConsole()'>Yes</button>

	  <div id="favListDiv">


		  <table id="favList">
			  <h2>Favorite List</h2>
			  <select v-model:value='selected' class="selectpicker" data-style="btn-info" name="selectpicker" @click='topList1()' >
        <optgroup label="Select List">
            <option  name="FavList1" value="1">Fav. List 1</option>
            <option  name="FavList2" value="2">Fav. List 2</option>
        </optgroup>
    </select>
  
    <thead><tr><td>Movie Name</td><td>Release</td></tr></thead>
	<tbody id="movieData">
		<tr v-for ='t in toplist'>
			<td>\{{t.title}}</td>
			<td>\{{t.year}}</td>
		</tr>
	</tbody>
</table>
	  </div>
	  <div id="otherfavListDiv">
		  <table id="favList">
			  <h2>user's Favorite List</h2>
			  <select class="selectpicker" data-style="btn-info" name="selectpicker">
        <optgroup label="Select Table">
            <option name="" value="0">Most Liked List</option>
            <option name="FavList1" value="1">User 1</option>
            <option name="FavList2" value="2">User 2</option>
        </optgroup>
    </select>
  
    <thead><tr><td>Movie Name</td><td>Release</td></tr></thead>
	<tbody>
		<tr v-for ='t in toplist'>
			<td>\{{t.title}}</td>
			<td>\{{t.year}}</td>

		</tr>
	</tbody>
</table>
	  </div>
    </section>
    
  
  </div>



  </div>



<footer>
	<h2>Best Movies Platform</h2>
	<p>Share your enthusiasm with fellow movie lovers</p>
</footer>
</body>

</html>